---
services:
  db:
    image: postgres:18-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data/
      - .data/db_dumps:/db_dumps

  app:
    <<: &COMMON
      build:
        context: .
        dockerfile: docker/app/Dockerfile
        target: build-python
      environment:
        - DEBUG=${DEBUG:-1}
        - DJANGO_ENV=${DJANGO_ENV:-development}
        - DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
        - SECRET_KEY=not-secret
        - TEMPLATE_DEBUG=1
      restart: on-failure
      depends_on:
        - db
        - tailwind
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - ${PORT:-8000}:8000
    stdin_open: true
    tty: true
    volumes:
      - .:/app
      - /app/.venv

  tailwind:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
      target: build-node
    command: npm run tailwind-watch
    tty: true
    stop_grace_period: 0s
    volumes:
      - ./:/app
      - /app/node_modules # node_modules is not shared with the host

  prettier:
    build:
      context: .
      dockerfile: ./docker/prettier/Dockerfile
    profiles:
      - prettier
    volumes:
      - ./:/root/app

volumes:
  client:
  pgdata:
