---
services:
  client:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
      target: build-node
    command: npm run dev
    volumes:
      - .:/home/node/app
      # node_modules is not shared with the host
      - /home/node/app/node_modules
      - client:/home/node/app/client/dist

  db:
    image: postgres:18-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data/
      - .data/db_dumps:/db_dumps

  app:
    <<: &COMMON
      build:
        context: .
        dockerfile: docker/app/Dockerfile
        target: build-python
      environment:
        - DEBUG=true
        - DJANGO_ENV=development
        - DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
        - SECRET_KEY=not-secret
      restart: on-failure
      depends_on:
        - db
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - ${PORT:-8000}:8000
    stdin_open: true
    tty: true
    volumes:
      - .:/app
      - /app/.venv
      - client:/app/client/dist

  prettier:
    build:
      context: .
      dockerfile: ./docker/prettier/Dockerfile
    profiles:
      - prettier
    volumes:
      - ./:/root/app

volumes:
  client:
  pgdata:
