#     pip install --upgrade --pre pip wheel setuptools pip-tools
#     pip-compile --generate-hashes --output-file=requirements.txt requirements/requirements.in
#     pip install -r requirements.txt

--pre Django=={{ django_version }}
dj-database-url
goodconf[yaml]
django-alive
django-csp
whitenoise
psycopg2
