---
name: test

env:
  # yamllint disable-line rule:line-length
  TEMPLATE_URL: "https://github.com/lincolnloop/django-layout/zipball/${{ github.ref_name }}"

"on":
  schedule:
    - cron: '0 5 * * 0'
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6
        with:
          enable-cache: false
          ignore-empty-workdir: true

      - name: Create Django project from template
        run: |
          uv run --with django django-admin startproject \
           --template="$TEMPLATE_URL" \
           --extension=py,md,gitignore,yaml,json,toml \
           --name=Makefile,Dockerfile \
           --exclude=.github \
           testproj .

      - name: Create blank index.js file
        run: |
          mkdir -p client/dist
          touch client/dist/index.js

      - name: Initialize project
        run: make init

      - name: start django
        run: docker compose up -d
        timeout-minutes: 5

      - name: verify services running
        run: |
          docker ps  # show service status for debugging
          test $(docker ps -q | wc -l) = "3"
      - name: verify website running
        run: |
          curl -I --retry 10 --retry-all-errors --fail \
          localhost:8000/testproj-admin/login/
      - name: verify client build
        run: |
          curl -I --retry 10 --retry-all-errors --fail \
          localhost:8000/static/index.js
      - name: run tests
        run: make test
      - name: verify README.md
        run: docker compose run --rm --no-deps app cog --check README.md
      - name: dump docker logs
        run: |
          set -x
          docker compose ps
          docker compose logs
        if: always()
