name: test

on:
  schedule:
    - cron: '0 5 * * 0'
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false
          ignore-empty-workdir: true

      - name: create project
        run: |
          uv run --with django django-admin startproject \
           --template="https://github.com/lincolnloop/django-layout/zipball/$GITHUB_REF_NAME" \
           --extension=py,md,gitignore,yaml,json,toml \
           --name=Makefile,Dockerfile \
           --exclude=.github \
           testproj .

      - name: mock client build
        run: |
          mkdir -p client/dist
          touch client/dist/index.js

      - name: build container
        run: docker compose build

      - name: start services
        run: docker compose up -d db client

      - name: run migrations
        run:  docker compose run app python manage.py migrate --no-input

      - name: start django
        run: docker compose up -d app
        timeout-minutes: 5

      - name: verify services running
        run: |
          docker ps  # show service status for debugging
          test $(docker ps -q | wc -l) = "3"
      - name: verify website running
        run: |
          curl -I --retry 10 --retry-all-errors --fail localhost:8000/testproj-admin/login/
      - name: verify client build
        run: |
          curl -I --retry 10 --retry-all-errors --fail localhost:8000/static/index.js
      - name: run tests
        run: docker compose run --rm app make test
      - name: verify README.md
        run: docker compose run --rm --no-deps app cog --check README.md
      - name: lint code
        run: docker compose run --rm --no-deps app make lint
      - name: format code
        run: docker compose run --rm --no-deps app ruff format --check .
      - name: dump docker logs
        run: |
          set -x
          docker compose ps
          docker compose logs
        if: always()
