---
name: test

env:
  # yamllint disable-line rule:line-length
  TEMPLATE_URL: "https://github.com/lincolnloop/django-layout/zipball/${{ github.ref_name }}"

"on":
  schedule:
    - cron: '0 5 * * 0'
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
        with:
          enable-cache: false
          ignore-empty-workdir: true

      - name: Create Django project from template
        run: |
          uv run --with django django-admin startproject \
           --template="$TEMPLATE_URL" \
           --extension=py,md,gitignore,yaml,json,toml \
           --name=Makefile,Dockerfile \
           --exclude=.github \
           testproj .

      - name: Create blank index.js file
        run: |
          mkdir -p client/dist
          touch client/dist/index.js

      - name: Initialize project
        run: make init

      - name: start django
        run: docker compose up -d
        timeout-minutes: 5

      - name: verify services running
        run: |
          docker ps  # show service status for debugging
          test $(docker ps -q | wc -l) = "3"
      - name: verify website running
        run: |
          curl -I --retry 10 --retry-all-errors --fail \
          localhost:8000/testproj-admin/login/
      - name: verify client build
        run: |
          curl -I --retry 10 --retry-all-errors --fail \
          localhost:8000/static/index.js

      - name: run tests
        run: |
          docker compose run --rm app \
          pytest --cov=. --cov-report-xml --junitxml=junit.xml

      - name: Upload coverage reports to Codecov
        # Publish coverage on success, fail, but not cancel.
        if: success() || failure()
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        # Upload JUnit test reports for test analytics
        if: success() || failure()
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: dump docker logs
        run: |
          set -x
          docker compose ps
          docker compose logs
        if: always()
