---
name: test

env:
  # yamllint disable-line rule:line-length
  TEMPLATE_URL: "https://github.com/lincolnloop/django-layout/zipball/${{ github.ref_name }}"

"on":
  schedule:
    - cron: "0 5 * * 0"
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7
        with:
          enable-cache: false
          ignore-empty-workdir: true

      - name: Create Django project from template
        run: |
          uv run --with django django-admin startproject \
           --template="$TEMPLATE_URL" \
           --extension=py,md,gitignore,yaml,json,toml \
           --name=Makefile,Dockerfile \
           --exclude=.github \
           project_name .

      - name: Create blank index.js file
        run: |
          mkdir -p client/dist
          touch client/dist/index.js

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build and cache
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6
        with:
          load: true
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
          source: .

      - name: Initialize project
        run: make init

      - name: Start dev server
        run: docker compose up -d
        timeout-minutes: 5

      - name: Show running Docker containers
        run: docker ps

      - name: curl /project_name-admin/login
        run: |
          curl -I --retry 10 --retry-all-errors --fail \
          localhost:8000/project_name-admin/login/

      - name: curl /static/index.js
        run: |
          curl -I --retry 10 --retry-all-errors --fail \
          localhost:8000/static/index.js

      - name: Check missing migrations
        run: docker compose exec app coverage run -m manage makemigrations --check

      - name: Run tests
        run: |
          docker compose exec app \
          pytest --cov=. --cov-append --cov-report=xml --junitxml=junit.xml

      - name: Upload coverage reports to Codecov
        # Publish coverage on success, fail, but not cancel.
        if: success() || failure()
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ${{ github.repository }}

      - name: Upload test results to Codecov
        # Upload JUnit test reports for test analytics
        if: success() || failure()
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ${{ github.repository }}

      - name: Dump Docker logs
        run: |
          set -x
          docker compose ps
          docker compose logs
        if: always()
