---
name: pre-commit

env:
  # yamllint disable-line rule:line-length
  TEMPLATE_URL: "https://github.com/lincolnloop/django-layout/zipball/${{ github.ref_name }}"

"on":
  push:

concurrency:
  # Abort pending builds if there's an update.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Run pre-commit on repo source.
  pre-commit-source:
    runs-on: ubuntu-latest
    steps:
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  # Run pre-commit on generated project to ensure validity.
  pre-commit-build:
    runs-on: ubuntu-latest
    steps:
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
        with:
          enable-cache: false
          ignore-empty-workdir: true

      - name: django-admin startproject
        run: |
          uv run --with django django-admin startproject \
           --template="$TEMPLATE_URL" \
           --extension=py,md,gitignore,yaml,json,toml \
           --name=Makefile,Dockerfile \
           --exclude=.github \
           testproj .

      - name: Init a git repo & add files
        run: git init && git add .

      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
